img, embed, object, video, picture {
  max-width: 100%; 
}

html {
  box-sizing: border-box; 
}

*, *::before, *::after {
  box-sizing: inherit; 
}

body, p, h1, h2, h3, h4, h5 {
   margin: 0px; 
   padding: 0px;
}

.hidden {
   display: none;
}

.box {
   background-color: powderblue;
   color: rgb(27, 27, 27);
   border-radius: 5px;
   padding: 20px;
   text-align: center;
   margin-top: 10px;
   margin-bottom:10px;
 }

.full-width-grid-con {
   display: grid; 
}

.grid-con { 
   display: grid;
   grid-column-gap: 30px;
   max-width: 1200px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

.col-auto {grid-column: auto;}
.col-span-1	{grid-column: span 1 / span 1;}
.col-span-2	{grid-column: span 2 / span 2;}
.col-span-3	{grid-column: span 3 / span 3;}
.col-span-4	{grid-column: span 4 / span 4;}
.col-span-full {grid-column: 1 / -1;}

.col-start-1	{grid-column-start: 1;}
.col-start-2	{grid-column-start: 2;}
.col-start-3	{grid-column-start: 3;}
.col-start-4	{grid-column-start: 4;}
.col-start-auto {grid-column-start: auto;}

.col-end-1	{grid-column-end: 1;}
.col-end-2	{grid-column-end: 2;}
.col-end-3	{grid-column-end: 3;}
.col-end-4	{grid-column-end: 4;}
.col-end-5	{grid-column-end: 5;}
.col-end-auto	{grid-column-end: auto;}

@media screen and (min-width: 768px) { 
   
   .grid-con { 
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-column-gap: 20px;
      padding-left: 16px;
      padding-right: 16px;
   }

   .m-col-auto {grid-column: auto;}
   .m-col-span-1	{grid-column: span 1 / span 1;}
   .m-col-span-2	{grid-column: span 2 / span 2;}
   .m-col-span-3	{grid-column: span 3 / span 3;}
   .m-col-span-4	{grid-column: span 4 / span 4;}
   .m-col-span-5	{grid-column: span 5 / span 5;}
   .m-col-span-6	{grid-column: span 6 / span 6;}
   .m-col-span-7	{grid-column: span 7 / span 7;}
   .m-col-span-8	{grid-column: span 8 / span 8;}
   .m-col-span-9	{grid-column: span 9 / span 9;}
   .m-col-span-10 {grid-column: span 10 / span 10;}
   .m-col-span-11 {grid-column: span 11 / span 11;}
   .m-col-span-12 {grid-column: span 12 / span 12;}
   .m-col-span-full {grid-column: 1 / -1;}

   .m-col-start-1	{grid-column-start: 1;}
   .m-col-start-2	{grid-column-start: 2;}
   .m-col-start-3	{grid-column-start: 3;}
   .m-col-start-4	{grid-column-start: 4;}
   .m-col-start-5	{grid-column-start: 5;}
   .m-col-start-6	{grid-column-start: 6;}
   .m-col-start-7	{grid-column-start: 7;}
   .m-col-start-8	{grid-column-start: 8;}
   .m-col-start-9	{grid-column-start: 9;}
   .m-col-start-10	{grid-column-start: 10;}
   .m-col-start-11	{grid-column-start: 11;}
   .m-col-start-12	{grid-column-start: 12;}
   .m-col-start-13	{grid-column-start: 13;}
   .m-col-start-auto {grid-column-start: auto;}

   .m-col-end-1	{grid-column-end: 1;}
   .m-col-end-2	{grid-column-end: 2;}
   .m-col-end-3	{grid-column-end: 3;}
   .m-col-end-4	{grid-column-end: 4;}
   .m-col-end-5	{grid-column-end: 5;}
   .m-col-end-6	{grid-column-end: 6;}
   .m-col-end-7	{grid-column-end: 7;}
   .m-col-end-8	{grid-column-end: 8;}
   .m-col-end-9	{grid-column-end: 9;}
   .m-col-end-10	{grid-column-end: 10;}
   .m-col-end-11	{grid-column-end: 11;}
   .m-col-end-12	{grid-column-end: 12;}
   .m-col-end-13	{grid-column-end: 13;}
   .m-col-end-auto	{grid-column-end: auto;}

}

@media screen and (min-width: 1200px) { 

   .grid-con { 
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-column-gap: 30px;
      padding-left: 15px;
      padding-right: 15px;
   }

   .l-col-auto {grid-column: auto;}
   .l-col-span-1	{grid-column: span 1 / span 1;}
   .l-col-span-2	{grid-column: span 2 / span 2;}
   .l-col-span-3	{grid-column: span 3 / span 3;}
   .l-col-span-4	{grid-column: span 4 / span 4;}
   .l-col-span-5	{grid-column: span 5 / span 5;}
   .l-col-span-6	{grid-column: span 6 / span 6;}
   .l-col-span-7	{grid-column: span 7 / span 7;}
   .l-col-span-8	{grid-column: span 8 / span 8;}
   .l-col-span-9	{grid-column: span 9 / span 9;}
   .l-col-span-10 {grid-column: span 10 / span 10;}
   .l-col-span-11 {grid-column: span 11 / span 11;}
   .l-col-span-12 {grid-column: span 12 / span 12;}
   .l-col-span-full {grid-column: 1 / -1;}

   .l-col-start-1	{grid-column-start: 1;}
   .l-col-start-2	{grid-column-start: 2;}
   .l-col-start-3	{grid-column-start: 3;}
   .l-col-start-4	{grid-column-start: 4;}
   .l-col-start-5	{grid-column-start: 5;}
   .l-col-start-6	{grid-column-start: 6;}
   .l-col-start-7	{grid-column-start: 7;}
   .l-col-start-8	{grid-column-start: 8;}
   .l-col-start-9	{grid-column-start: 9;}
   .l-col-start-10	{grid-column-start: 10;}
   .l-col-start-11	{grid-column-start: 11;}
   .l-col-start-12	{grid-column-start: 12;}
   .l-col-start-13	{grid-column-start: 13;}
   .l-col-start-auto {grid-column-start: auto;}

   .l-col-end-1	{grid-column-end: 1;}
   .l-col-end-2	{grid-column-end: 2;}
   .l-col-end-3	{grid-column-end: 3;}
   .l-col-end-4	{grid-column-end: 4;}
   .l-col-end-5	{grid-column-end: 5;}
   .l-col-end-6	{grid-column-end: 6;}
   .l-col-end-7	{grid-column-end: 7;}
   .l-col-end-8	{grid-column-end: 8;}
   .l-col-end-9	{grid-column-end: 9;}
   .l-col-end-10	{grid-column-end: 10;}
   .l-col-end-11	{grid-column-end: 11;}
   .l-col-end-12	{grid-column-end: 12;}
   .l-col-end-13	{grid-column-end: 13;}
   .l-col-end-auto	{grid-column-end: auto;}
}

@media screen and (min-width: 1920px) { 

   .grid-con { 
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-column-gap: 34px;
      padding-left: 17px;
      padding-right: 17px;
   }

   .xl-col-auto {grid-column: auto;}
   .xl-col-span-1	{grid-column: span 1 / span 1;}
   .xl-col-span-2	{grid-column: span 2 / span 2;}
   .xl-col-span-3	{grid-column: span 3 / span 3;}
   .xl-col-span-4	{grid-column: span 4 / span 4;}
   .xl-col-span-5	{grid-column: span 5 / span 5;}
   .xl-col-span-6	{grid-column: span 6 / span 6;}
   .xl-col-span-7	{grid-column: span 7 / span 7;}
   .xl-col-span-8	{grid-column: span 8 / span 8;}
   .xl-col-span-9	{grid-column: span 9 / span 9;}
   .xl-col-span-10 {grid-column: span 10 / span 10;}
   .xl-col-span-11 {grid-column: span 11 / span 11;}
   .xl-col-span-12 {grid-column: span 12 / span 12;}
   .xl-col-span-full {grid-column: 1 / -1;}

   .xl-col-start-1	{grid-column-start: 1;}
   .xl-col-start-2	{grid-column-start: 2;}
   .xl-col-start-3	{grid-column-start: 3;}
   .xl-col-start-4	{grid-column-start: 4;}
   .xl-col-start-5	{grid-column-start: 5;}
   .xl-col-start-6	{grid-column-start: 6;}
   .xl-col-start-7	{grid-column-start: 7;}
   .xl-col-start-8	{grid-column-start: 8;}
   .xl-col-start-9	{grid-column-start: 9;}
   .xl-col-start-10	{grid-column-start: 10;}
   .xl-col-start-11	{grid-column-start: 11;}
   .xl-col-start-12	{grid-column-start: 12;}
   .xl-col-start-13	{grid-column-start: 13;}
   .xl-col-start-auto {grid-column-start: auto;}

   .xl-col-end-1	{grid-column-end: 1;}
   .xl-col-end-2	{grid-column-end: 2;}
   .xl-col-end-3	{grid-column-end: 3;}
   .xl-col-end-4	{grid-column-end: 4;}
   .xl-col-end-5	{grid-column-end: 5;}
   .xl-col-end-6	{grid-column-end: 6;}
   .xl-col-end-7	{grid-column-end: 7;}
   .xl-col-end-8	{grid-column-end: 8;}
   .xl-col-end-9	{grid-column-end: 9;}
   .xl-col-end-10	{grid-column-end: 10;}
   .xl-col-end-11	{grid-column-end: 11;}
   .xl-col-end-12	{grid-column-end: 12;}
   .xl-col-end-13	{grid-column-end: 13;}
   .xl-col-end-auto	{grid-column-end: auto;}
}

header#main-header {
  margin-top: 35px;
  margin-bottom: 20px;
  /* position: fixed; */
  width: 100%;
  z-index: 1000;  

}

div#logo {
  width: 100px;
}
   
.m-col-start-1{
cursor: pointer;	
}

.navigation-button {
  color: #FFFFFF;
  
  padding: 14px 0px;
  background-color:  #000000;
  text-align: center;
  cursor: pointer;
}
.contact-button {
  color: #FFFFFF;
  
  padding: 14px 50px;
  background-color:  #000000;
  text-align: center;
  cursor: pointer;
}
  /* hover effect */
        .navigation-button:hover {
			color: #FFFFFF;
            background-color: #2b5145;
            
        }
        .contact-button:hover {
          color: #FFFFFF;
                background-color: #2b5145;
            }
h1 {
  font-size: 45px;
  /* padding: 10px; */
  text-align: center;
}

h3 {
  font-size: 25px;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
}
 

#aboutme {
  height: 700px;
  z-index: 3;
  /* background: #7baad4; */
  text-align: center;
  color: white;
  padding-top: 100px;
}


footer {
  
  text-align: center;
  color: white;
  padding: 35px;
}
footer h3, footer h4, footer p {
  text-align: center;
  color: white;
}
   
.card {
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

@font-face {
  font-family: "Poppins", regular;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Poppins-Regular.woff") format("ttf"), url("../fonts/Poppins-Regular.woff") format("woff");
}
body {
  font-family: "Poppins", regular;
}


p {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.box {
  background: #cfcfcf;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #a2a2a2;
  margin-top: 20px;
  text-align: center;
}
.box .heading {
  margin-top: 70px;
}

 

#aboutme {
  height: 700px;
  text-align: center;
}
#vision {
  height: 700px;
}

#services {
  min-height: 300px;
}
#services .servicecard {
  height: 300px;
}

#work {
  margin-top: 30px;
}
#work .workcard {
  height: 200px;
}

#product-image div {
  height: 150px;
}

#contactherosection .image {
  height: 100px;
}
#contactherosection .text {
  height: 200px;
}
#contactherosection .contactform {
  height: 350px;
}
#contactherosection .contactme {
  height: 350px;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: var(--bs-body-color); */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: white;
  background-color: black;
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


@media screen and (max-width: 768px) {
  .heading {
    margin-top: 20px;
  }
  .grid-con > * {
    margin-top: 20px;
 }
}

h1{
  font-size:45px;
  padding:10px;
  text-align:center;
}
h3{
font-size:25px;
  padding:10px;
  width: 70%;
  margin:0 auto;
  font-weight: 400;
  text-align:center;
}
#herosection {
   text-align: center;
   margin-top:80px;
   height: 500px;
}
#contactsection{
  text-align: center;
  margin-top:80px;
  height: 500px;
  padding-top: 50px;
  position: relative;
}

#herosection .face-image{
  width:150px;
  display: block;
  margin: 0 auto;
}
#herosection .landing-image{
  width: 600px;
}
#herosection .col-span-full{
  z-index: 50 !important;
}


#aboutme {
   height: 700px;
   z-index: 3;
   /* background: #185f5f; */
   text-align: center;
   color: white;
  padding-top:100px;
}
#vision {
  height: 700px;
  z-index: 3;
  /* background: #185f5f; */
  text-align: center;
  color: white;
 padding-top:100px;
}
#work {
   padding: 50px 0px;
   /* background: #f1f1f1; */
   margin-top: 0;
}
#work .workcard {
   height: auto;
   margin: 15px;
   box-shadow: 0px 5px 17px 10px rgba(0,0,0,0.1);
}
#work .workcard:hover{
  box-shadow: 0px 0px 21px 13px rgb(0 0 0 / 23%);
  zoom: 90%;
}

section#work .grid-con {
   margin-top: 35px;
}
img.face-image {
   border-radius: 50%;
}

img.face-image.client-image {
   width: 200px;
   display: block;
   margin: 0 auto;
}
 

.client-position {
   font-size: 18px;
   font-weight: 500;
}
footer {
    text-align: center;
   color: white;
   padding: 35px;
}
footer h3, footer h4, footer p{
   text-align: center;
   color: white;
}


#hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
 

section#testimonial {
   /* background: #f1f1f1; */
   padding: 50px 0;
}
h1{
  font-size:45px;
  padding:10px;
  text-align:center;
}
h3{
font-size:25px;
  padding:10px;
  width: 70%;
  margin:0 auto;
  font-weight: 400;
  text-align:center;
}
#herosection {
   text-align: center;
   /* margin-top:50px; */
   padding-top: 200px;
   /* height: 600px; */
}

#herosection .face-image{
  width:150px;
  display: block;
  margin: 0 auto;
}
#herosection .landing-image{
  width: 700px;
}
#herosection .col-span-full{
  z-index: 50 !important;
}


#aboutme {
   height: 700px;
   z-index: 3;
   /* background: #3f8698; */
   text-align: center;
   color: black;
  padding-top:100px;
}
#vision {
  height: 600px;
  z-index: 3;
  /* background: #3f5c64; */
  text-align: center;
  color: black;
 padding-top:200px;
}
#workexp1 {
  height: 600px;
  z-index: 3;
  /* background: #718b92; */
  text-align: center;
  color: black;
 padding-top:200px;
}
#project2 {
  height: auto;
  z-index: 3;
  /* background: #175566; */
  text-align: center;
  color: black;
 padding-top:100px;
}
#project1 {
  height: 600px;
  z-index: 3;
  /* background: #09323d; */
  text-align: center;
  color: black;
 padding-top:200px;
}
#work {
   padding: 50px 0px;
   /* background: #f1f1f1; */
   margin-top: 0;
}
#work .workcard {
   height: auto;
   margin: 15px;
   box-shadow: 0px 5px 17px 10px rgba(0,0,0,0.1);
}
#work .workcard:hover{
  box-shadow: 0px 0px 21px 13px rgb(0 0 0 / 23%);
  zoom: 90%;
}

section#work .grid-con {
   margin-top: 35px;
}
img.face-image {
   border-radius: 50%;
}

img.face-image.client-image {
   width: 200px;
   display: block;
   margin: 0 auto;
}
 

.client-position {
   font-size: 18px;
   font-weight: 500;
}
footer {
    text-align: center;
   color: black;
   padding: 35px;
}
footer h3, footer h4, footer p{
   text-align: center;
   color: black;
}

 
footer h4 {
   margin-top: 30px;
   margin-bottom: 4px;
   font-weight: 700;
}

footer h3 {
   margin-top: 20px;
}

.footer-copyright {
   font-size: 22px;
   margin-top: 40px;
}
 

#tl {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  font-size: 24px;
}
 

.contactme h3, .contactme p {
   text-align: left !important;
}

.contactme div {
margin:30px 0px;
}
.contactme h4 {font-size:20px;font-weight: 500;}
.contactme p{font-size:15px;font-weight: 500;color: #646464;}

 

.form-container {

  padding: 20px;
 border-radius: 8px;
 }

form {
 display: flex;
 flex-direction: column;
}

label {
 margin-bottom: 8px;
}

input,
textarea {
 margin-bottom: 16px;
 padding: 8px;
 border: 1px solid #ccc;
 border-radius: 4px;
}

input[type="submit"] {
 background-color: black;
 color: white;
 cursor: pointer;
}

input[type="submit"]:hover {
 background-color: #4b5b8f;
}
section#gallerysection {
  text-align: center;
  margin-top: 60px;
}
 
 
  
@keyframes fadeOutAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.face-image,
.landing-image {
    opacity: 0;
    animation: fadeInAnimation 1s ease forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mygalleryimg {
    width: 100%;
    height: auto;
    display: block;
}

.mygalleryimg:hover {
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
#beer-video {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

#beer-video img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
#hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.navigation {
  display: flex;
  flex-direction: row;
}
 

.large-text {
  font-size: 86px; 
}
.large-text1 {
  font-size: 56px; 
}


.horizontal-line {
  border: 1px solid black;  
  margin-top: 10px;  
  margin-bottom: 10px;  
  margin: 0px 50px;

}
@media screen and (max-width: 600px) {
  /* Styles for mobile view */
  .navigation {
      display: none;
      flex-direction: column;
  }
  
  

  #hamburger {
      display: block;
  }
  
  .show-menu .navigation {
    display: flex; 
}

  .navigation .show-menu {
      display: flex;
  }

  
}
 
 

a {
  text-decoration: none;
  color: white; /* Set font color to white */
}
 
        body {
            font-family: 'Poppins';
            
        }
        .testimonialsection {
            text-align: center;
        }
        .custom-div {
            width: 100%;
            height: 10px;
            background-color: white;
        }
        .center-text {
            text-align: center;
        }
        .left-align {
            text-align: left;
            margin-left: 50px;
        }
        .left-alignh1 {
            text-align: left;
            font-size: 60px;
            font-family: 'Poppins', sans-serif;
            color: black;
           
        }
        .vertical-space {
            height: 80%;
            background-color: black;
            width: 1%; 
            margin-bottom: 50px; 
        }
        .top-left {
            position: absolute;
            top: 0px;
            left: 0px;
            margin: 5px;
            font-size: 5px;
        }
    
        .fade-in {
          opacity: 1;
          transform: translateY(500px);
      }

      .slide-up {
        opacity: 1;
        transform: translateY(100px);
        transition: opacity 0.3s ease, transform 0.3s ease; /* Add easing */
    }

    .rotate {
      opacity: 1;
      transform: rotate(-180deg);
      transition: opacity 0.3s ease, transform 0.3s ease; /* Add easing */
  }


  input {
    background-color: black; /* Background color */
    color: white; /* Text color */
    border: none; /* Optionally remove the border */
    padding: 10px; /* Padding */
  }
  .input-style {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
  }
  .float-label {
    color: white;  
    float: left;
  }
  
   
  .float-label.floated {
    color: black;  
  }
  #name-label {
    float: left; /* or float: right; depending on your layout */
    /* Additional styling */
  }
  
  #name-label.floated {
    color: red; /* Change the color when floated */
  }
  