@use 'fonts';

$primary-color: #7F3F98;
$secondary-color: #BA3B0A;
$accent-color: #BA3B0A;
$body-text-color: #333;
$heading-font-family: 'cantarellregular', helvetica, arial;
$body-font-family: helvetica,arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;

